.game {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.game-info {
  margin-left: 20px;
}

.btn-history {
  width: 250px;
  height: 25px;
  border-radius: 20px;
  margin: 5px 0 5px 0;
  font-weight: bold;
  text-align: center;
  background-color: cornflowerblue;
  border: 0;
}

.btn-history:hover {
  background-color: cadetblue;
}

.active {
  background-color: whitesmoke;
}

.react-switch {
  margin-top: 10px;
}

.game-reverse {
  position: relative;
  bottom: 10px;
}

@media (max-width: 767.98px) {
  .btn-history {
    width: 150px;
    height: 35px;
  }
}
