.game {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.game-info {
  margin-left: 20px;
}

.btn-history {
  width: 150px;
  height: 25px;
  border-radius: 20px;
  margin: 5px 0 5px 0;
  font-weight: bold;
  text-align: center;
  background-color: cornflowerblue;
  border: 0;
}

.btn-history:hover {
  background-color: cadetblue;
}
