.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  width: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
  background: #ddd;
}

.isWinner {
  background-color: rgb(201, 193, 193);
}

@media (max-width: 767.98px) {
  .square {
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    width: 40px;
  }
}
